<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.mapper.CommodityMapper">

    <resultMap id="BaseResultMap" type="com.space.entity.Commodity">
        <id column="product_id" property="productId" />
        <result column="shop_id" property="shopId" />
        <result column="product_name" property="productName" />
        <result column="product_image" property="productImage" />
        <result column="product_description" property="productDesc" />
        <result column="product_category" property="productCategory" />
        <result column="product_stocks" property="productStocks" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="product_status" property="productStatus" />

        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="product_price" property="productPrice" />
        <result column="offer_price" property="offerPrice" />
    </resultMap>

    <resultMap id="CommodityType" type="com.space.entity.CommodityType">
        <id column="type_id" property="typeId" />
        <result column="shop_id" property="shopId"/>
        <result column="type_name" property="typeName"/>
        <result column="seat_number" property="seatNumber"/>
        <result column="create_time" property="createTime"/>
        <result column="role" property="role"/>
    </resultMap>

    <!--新增分组，商品和座位-->
    <insert id="addGoodType">
        insert into product_type(shop_id,type_name,create_time)
        values (#{shopId},#{typeName},#{currentTime})
    </insert>
    <insert id="addSeatType">
        insert into product_type(shop_id,type_name,seat_number,create_time,role)
        values (#{shopId},#{typeName},#{seatNumber},#{currentTime},#{role})
    </insert>

    <!--查询分组-->
    <select id="getGoodType" resultMap="CommodityType">
        select * from product_type where shop_id=#{shopId}
    </select>
    <!--删除分组-->
    <delete id="deleteGoodType">
        delete from product_type where shop_id=#{shopId} and type_name=#{typeName}
    </delete>
    <!--编辑分组-->
    <update id="updateGoodType">
        update product_type set type_name=#{typeName} where shop_id=#{shopId} and type_id=#{typeId}
    </update>

    <!--查询商品-->
    <select id="getGoods" resultMap="BaseResultMap">
        SELECT product_id,shop_id,product_name,product_category,product_stocks,product_description,create_time,product_status
        FROM product_info where 1 = 1
        <if test="productName!=null and productName!=''">
            AND product_name like '%${productName}%'
        </if>
        <if test="pageNo >= 0 and pageSize > 0">
            limit #{pageNo},#{pageSize}
        </if>
    </select>

    <!--查询商品总数-->
    <select id="getGoodsCount" resultType="Integer">
        SELECT count(*) FROM product_info where 1 = 1
        <if test="productName!=null and productName!=''">
            AND product_name like '%${productName}%'
        </if>
    </select>

    <!-- 检查是否有相同的商品名称-->
    <select id="checkProductName" parameterType="String" resultType="Integer">
        SELECT count(*) FROM product_info where product_name = #{productName,jdbcType=VARCHAR}
    </select>

    <insert id="addGood" parameterType="com.space.entity.Commodity">
        INSERT INTO product_info(shop_id,product_name,product_image,product_description,product_category,product_stocks,create_time)
        VALUES (
            #{shopId},
            #{productName},
            #{productImage},
            #{productDesc},
            #{productCategory},
            #{productStocks},
            #{createTime}
        )
    </insert>

    <!-- 检查需要删除的商品有没有上架-->
    <select id="checkProductUp" parameterType="java.util.List">
        <if test="productIds!=null and productIds.size() > 0">
            SELECT COUNT(*) FROM product_info WHERE product_status = 1 and product_id in
            <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
                #{productId}
            </foreach>
        </if>
    </select>

    <!-- 删除商品 -->
    <delete id="deleteProduct" parameterType="java.util.List">
        <if test="productIds!=null and productIds.size() > 0">
            DELETE FROM product_info where product_id in
            <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
                #{productId}
            </foreach>
        </if>
    </delete>

    <!-- 删除商品的价格-->
    <delete id="deletePrice" parameterType="java.util.List">
        <if test="productIds!=null and productIds.size() > 0">
            DELETE FROM product_price where product_id in
            <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
                #{productId}
            </foreach>
        </if>
    </delete>

    <!--上架商品，改变状态值-->
    <update id="upProduct" parameterType="java.util.List">
        <if test="productIds!=null and productIds.size() > 0">
            UPDATE product_info set product_status = 1 where product_id in
            <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
                #{productId}
            </foreach>
        </if>
    </update>

    <!--更新商品-->
    <update id="updateGood" parameterType="com.space.entity.Commodity">
        update product_info set product_id = #{productId},
        <if test="shopId > 0">
            ,shop_id = #{shopId}
        </if>
        <if test="productName!=null and productName!=''">
            ,product_name = #{productName}
        </if>
        <if test="productImage!=null and productImage!=''">
            ,product_image = #{productImage}
        </if>
        <if test="productImage!=null and productImage!=''">
            ,product_image = #{productImage}
        </if>
        <if test="productDesc!=null and productDesc!=''">
            ,product_description = #{productDesc}
        </if>
        <if test="productCategory!=null and productCategory!=''">
            ,product_category = #{productCategory}
        </if>
        <if test="productStocks!=null and productStocks!=''">
            ,product_stocks = #{productStocks}
        </if>
        WHERE product_id = #{productId}
    </update>

</mapper>
