<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.mapper.CommodityMapper">

    <resultMap id="BaseResultMap" type="com.space.entity.Commodity">
        <id column="product_id" property="productId" />
        <result column="shop_id" property="shopId" />
        <result column="product_name" property="productName" />
        <result column="product_image" property="productImage" />
        <result column="product_description" property="productDesc" />
        <result column="product_categoryNo" property="productCategoryNo" />
        <result column="product_category" property="productCategory" />
        <result column="product_stocks" property="productStocks" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="product_status" property="productStatus" />
        <result column="product_sell_desc" property="productSellDesc" />
        <result column="show_surplus" property="showSurplus" />
        <result column="is_joinpartsell" property="joinPartSell" />
        <result column="publish_time" property="publishTime" />

        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="product_price" property="productPrice" />
        <result column="offer_price" property="offerPrice" />

        <result column="price" property="price" />
    </resultMap>


    <resultMap id="CommodityType" type="com.space.entity.CommodityType">
        <id column="type_id" property="typeId" />
        <result column="shop_id" property="shopId"/>
        <result column="type_name" property="typeName"/>
        <result column="type_name_sub" property="typeNameSub"/>
        <result column="seat_number" property="seatNumber"/>
        <result column="create_time" property="createTime"/>
        <result column="role" property="role"/>
    </resultMap>

    <resultMap id="ShopSeat" type="com.space.entity.ShopSeat">
        <id column="seat_id" property="seatId" />
        <result column="shop_id" property="shopId"/>
        <result column="seat_mark" property="seatMark"/>
        <result column="seat_type" property="seatType"/>
        <result column="seat_num" property="seatNum"/>
    </resultMap>

    <!--//////////////////商品关联文档/////////////////////-->
    <resultMap id="CommodityDocumentMap" type="com.space.entity.CommodityDocument">
        <id column="id" property="id" />
        <result column="commodityId" property="commodityId"/>
        <result column="documentId" property="documentId"/>
        <result column="shopId" property="shopId"/>
    </resultMap>

    <!--新增分组，商品和座位-->
    <insert id="addGoodType">
        insert into product_type(shop_id,type_name,create_time)
        values (#{shopId},#{typeName},#{currentTime})
    </insert>
    <!--新增子分组-->
    <insert id="addGoodSubType">
        insert into product_type(shop_id,type_name,type_name_sub,seat_number,create_time,role)
        values (#{shopId},#{typeName},#{typeSubName},#{seatNumber},#{currentTime},#{role})
    </insert>

    <!--查询分组-->
    <select id="getGoodType" resultMap="CommodityType">
        select * from product_type where shop_id=#{shopId}
    </select>
    <!--删除分组-->
    <delete id="deleteGoodType">
        delete from product_type where shop_id=#{shopId} and type_name=#{typeName}
    </delete>
    <!--编辑分组-->
    <update id="updateGoodType">
        update product_type set type_name=#{typeName} where shop_id=#{shopId} and type_id=#{typeId}
    </update>

    <!--查询商品 -->
    <select id="getGoods" resultMap="BaseResultMap">
        SELECT *
        FROM product_info where 1 = 1
        <if test="productName!=null and productName!=''">
            AND product_name like '%${productName}%'
        </if>
        <if test="productCategoryNo>0">
            AND product_categoryNo =#{productCategoryNo}
        </if>
        <if test="shopId>0">
            AND shop_id=#{shopId}
        </if>
        <if test="productStatus>-1">
            AND product_status=#{productStatus}
        </if>
        <if test="keyWord!=null and keyWord!=''">
            AND product_name like '%${keyWord}%'
        </if>
        <if test="pageNo >= 0 and pageSize > 0">
            limit #{pageNo},#{pageSize}
        </if>
    </select>
    <!--新增商品-->
    <insert id="addGood" parameterType="com.space.entity.Commodity">
        INSERT INTO product_info(shop_id,product_name,product_description,product_categoryNo,product_category,product_stocks,product_status,product_sell_desc,show_surplus,is_joinpartsell,publish_time)
        VALUES (
        #{shopId},
        #{productName},
        #{productDesc},
        #{productCategoryNo},
        #{productCategory},
        #{productStocks},
        #{productStatus},
        #{productSellDesc},
        #{showSurplus},
        #{joinPartSell},
        #{publishTime}
        )
    </insert>



    <!--查询商品总数-->
    <select id="getGoodsCount" resultType="Integer">
        SELECT count(*) FROM product_info where 1 = 1
        <if test="productName!=null and productName!=''">
            AND product_name like '%${productName}%'
        </if>
        <if test="productCategoryNo>0">
            AND product_categoryNo =#{productCategoryNo}
        </if>
        <if test="shopId>0">
            AND shop_id=#{shopId}
        </if>
        <if test="productStatus>-1">
            AND product_status=#{productStatus}
        </if>
        <if test="keyWord!=null and keyWord!=''">
            AND product_name like '%${keyWord}%'
        </if>

    </select>

    <!-- 检查是否有相同的商品名称-->
    <select id="checkProductName" parameterType="String" resultType="Integer">
        SELECT count(*) FROM product_info where product_name = #{productName,jdbcType=VARCHAR}
    </select>



    <!-- 检查需要删除的商品有没有上架-->
    <select id="checkProductUp" parameterType="java.util.List"  resultType="Integer">
        <if test="productIds!=null and productIds.size() > 0">
            SELECT COUNT(*) FROM product_info WHERE product_status = 1 and product_id in
            <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
                #{productId}
            </foreach>
        </if>
    </select>

    <!-- 删除商品 -->
    <delete id="deleteProducts" parameterType="java.util.List">
        <if test="productIds!=null and productIds.size() > 0">
            DELETE FROM product_info where product_id in
            <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
                #{productId}
            </foreach>
        </if>
    </delete>

    <!--4.删除 根据商品ID-->
    <delete id="deleteCommodityDocumentByPId"  parameterType="Integer">
        delete from commodity_document
        WHERE  commodityId =#{productId}
    </delete>

    <!--上架商品，改变状态值-->
    <update id="upProduct" parameterType="java.util.List">
        <if test="productIds!=null and productIds.size() > 0">
            UPDATE product_info
            <if test="optNum==1">
                set product_status = 1
            </if>
            <if test="optNum==2">
                set product_status = 2
            </if>
            <if test="optNum==3">
                <foreach collection="setValues" index="index" item="value" >
                    <if test="index==0">
                        set product_categoryNo = #{value},
                    </if>
                    <if test="index==1">
                         product_category = #{value}
                    </if>
                  /*  jdbcType=VARCHAR*/
                </foreach>
            </if>
            <if test="optNum==4">

            </if>
             WHERE product_id in
            <foreach collection="productIds" index="index" item="productId" open="(" close=")" separator=",">
                #{productId}
            </foreach>
        </if>
    </update>

    <!--更新商品-->
    <update id="updateGood" parameterType="com.space.entity.Commodity">
        update product_info set product_id = #{productId}
<!--        <if test="shopId > 0">
            ,shop_id = #{shopId}
        </if>-->
        <if test="productName!=null and productName!=''">
            ,product_name = #{productName}
        </if>
   <!--     <if test="productImage!=null and productImage!=''">
            ,product_image = #{productImage}
        </if>
        <if test="productImage!=null and productImage!=''">
            ,product_image = #{productImage}
        </if>-->
        <if test="productDesc!=null and productDesc!=''">
            ,product_description = #{productDesc}
        </if>
        <if test="productCategoryNo>0">
            ,product_category = #{productCategory}
        </if>
        <if test="productCategory!=null and productCategory!=''">
            ,product_category = #{productCategory}
        </if>
        <if test="productStocks!=null and productStocks!=''">
            ,product_stocks = #{productStocks}
        </if>
        ,product_status = #{productStatus}
        ,product_sell_desc = #{productSellDesc}
        ,show_surplus = #{showSurplus}
        ,is_joinpartsell = #{joinPartSell}
        ,publish_time = #{publishTime}
        WHERE product_id = #{productId}
    </update>
    <select id="getCommodityById" resultMap="BaseResultMap">
          SELECT * FROM product_info where product_id = #{commodityId}
    </select>

    <!--新增座位编号-->
    <insert id="addSeatMark">
        insert into shop_seat(shop_id,seat_type,seat_mark,seat_num)
        values (#{shopId},#{seatType},#{seatMark},#{seatCount})
    </insert>

    <!--查询桌位-->
    <select id="getSeat" resultMap="ShopSeat">
        select * from shop_seat where shop_id=#{shopId}
    </select>
    <!--删除桌位-->
    <delete id="deleteSeat">
        delete from shop_seat where seat_id=#{seatId} and shop_id=#{shopId}
    </delete>


    <!--1.查询所有-->
    <select id="getCommodityDocuments" resultMap="CommodityDocumentMap" parameterType="java.util.List">
        <if test="commodityIds!=null and commodityIds.size() > 0">
            select * from commodity_document where commodityId  IN
            <foreach collection="commodityIds" item="commodityId" open="(" close=")" separator=",">
                #{commodityId}
            </foreach>
        </if>
    </select>
    <!--2.查询详情-->
<!--    <select id="getCommodityDocument" resultMap="CommodityDocumentMap">
        select * from commodity_document where shop_id=#{shopId} AND id=#{id}
    </select>-->
    <!--3.增加-->
    <insert id="addCommodityDocument" parameterType="com.space.entity.CommodityDocument" >
        insert into commodity_document(commodityId,documentId,shopId)
        values (#{commodityId},#{documentId},#{shopId})
    </insert>

    <!--4.删除 根据多个商品ID-->
    <delete id="deleteCommodityDocumentByCommodityIds" parameterType="java.util.List">
        <if test="commodityIds!=null and commodityIds.size() > 0">
            DELETE FROM commodity_document where commodityId in
            <foreach collection="commodityIds" item="commodityId" open="(" close=")" separator=",">
                #{commodityId}
            </foreach>
           <!-- DELETE FROM  document_info
            <where>
                documentId in
                (SELECT documentId FROM  commodity_document
                <where>
                    commodityId in
                    <foreach collection="commodityIds" item="commodityId" open="(" close=")" separator=",">
                        #{commodityId}
                    </foreach>
                </where>
                )
            </where>-->
        </if>
    </delete>
    <!--5.修改-->

    <!--//////////////////商品价格关联/////////////////////-->
    <resultMap id="CommodityPriceMap" type="com.space.entity.CommodityPrice">
        <result column="product_id" property="productId" />
        <result column="shop_id" property="shopId" />
        <result column="product_name" property="productName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime"/>
        <result column="product_price" property="productPrice"/>
        <result column="offer_price" property="offerPrice"/>
    </resultMap>
    <!--1.查询所有-->
    <select id="getCommodityPrices" resultMap="CommodityPriceMap">
        select * from product_price where 1=1
        /* 商品ID*/
        <if test="commodityId>0">
            AND   product_id=#{commodityId}
        </if>
        /* 商户ID*/
        <if test="shopId>0">
            AND   shop_id=#{shopId}
        </if>
        /* 商品名称*/
        <if test="product_name!=null and product_name!=''">
            AND  product_name LIKE  '%#{commodityName}%'
        </if>
    </select>

    <!--1.查询所有-->
    <select id="getPricesByCommodityId" resultMap="CommodityPriceMap">
        select * from product_price where  product_id=#{commodityId}
    </select>
    <!--2.增加-->
    <insert id="addCommodityPrices"  parameterType="com.space.entity.CommodityPrice" >
        insert into product_price(product_id,shop_id,product_name,start_time,end_time,product_price,offer_price)
        values (#{productId},#{shopId},#{productName},#{startTime},#{endTime},#{productPrice},#{offerPrice})
    </insert>
    <!--3. 删除 根据多个商品ID-->
    <delete id="deletePrice" parameterType="java.util.List">
        <if test="commodityIds!=null and commodityIds.size() > 0">
            DELETE FROM product_price where product_id in
            <foreach collection="commodityIds" item="commodityId" open="(" close=")" separator=",">
                #{commodityId}
            </foreach>
        </if>
    </delete>
    <!--4. 删除 根据商品ID-->
    <delete id="deletePriceByCommodityId"  parameterType="Integer">
        <if test="commodityId>0">
            DELETE FROM product_price
            where product_id = #{commodityId}
        </if>
    </delete>
</mapper>
