<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.space.entity.Staff">
        <id column="staff_id" property="staffId"/>
        <result column="staff_name" property="staffName"/>
        <result column="staff_mark" property="staffMark"/>
        <result column="staff_type_name" property="staffTypeName"/>
        <result column="staff_image" property="staffImage"/>
        <result column="staff_phone" property="staffPhone"/>
        <result column="staff_sale" property="staffSale"/>
        <result column="staff_date" property="staffDate"/>
        <result column="shop_mark" property="shopMark"/>
        <result column="staff_gender" property="staffGender"/>
        <result column="staff_desc" property="staffDesc"/>
        <result column="staff_status" property="staffStatus"/>
    </resultMap>
    <!-- 商家员工分类-->
    <resultMap id="shopStaffTypeResultMap" type="com.space.entity.StaffType">
        <result column="staff_type_id" property="staffTypeId"/>
        <result column="staff_mark" property="staffMark"/>
        <result column="staff_type_name" property="staffTypeName"/>
        <result column="staff_type_commission" property="staffTypeCommission"/>
        <result column="staff_type_desc" property="staffTypeDesc"/>
        <result column="staff_type_number" property="staffTypeNumber"/>
        <result column="status" property="status"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <!--添加员工分类-->
    <insert id="addStaffType" parameterType="com.space.entity.StaffType" keyProperty="staff_type_id" useGeneratedKeys="true">
        insert into shop_staff_type(shop_mark,staff_type_name,staff_type_commission,staff_type_desc,staff_type_number,status,role_id)
        values (#{shopMark},#{staffTypeName},#{staffTypeCommission},#{staffTypeDesc},#{staffTypeNumber},#{status},#{roleId})
    </insert>

    <!--查看是否同名分类-->
    <select id="checkStaffType" resultType="Integer">
        select count(*) from shop_staff_type where shop_mark=#{shopMark} and staff_type_name=#{staffTypeName}
    </select>

    <!--删除员工分类-->
    <delete id="deleteStaffType">
        delete from shop_staff_type where shop_mark=#{shopMark} and staff_type_Name=#{staffTypeName}
    </delete>

    <!--删除员工分类根据主键ID-->
    <delete id="deleteStaffTypeById">
        delete from shop_staff_type where staff_type_id=#{staff_type_id}
    </delete>

    <!--修改员工类型-->
    <update id="updateStaffType" parameterType="com.space.entity.StaffType">
        update shop_staff_type
         set staff_mark=#{staffMark},
          shop_mark=#{staffMark},
          staff_type_name=#{staffTypeName},
          staff_type_commission=#{staffTypeCommission},
            staff_type_desc=#{staffTypeDesc},
            staff_type_number=#{staffTypeNumber},
            status=#{status},
            role_id=#{roleId}
          where staff_type_id=#{staffTypeId}
    </update>
    <!--得到员工分类 根据ID-->
    <select id="getStaffTypeById"  resultMap="shopStaffTypeResultMap">
        select * from shop_staff_type where staff_type_id=#{staffTypeId}
    </select>

    <!--添加员工-->
    <insert id="addStaff" useGeneratedKeys="true" keyProperty="staffId">
        insert into shop_staff(staff_name,staff_type,staff_phone,staff_date,shop_mark,staff_gender,staff_desc)
        values (#{staffName},#{staffType},#{staffPhone},#{staffDate},#{shopMark},#{staffGender},#{staffDesc})
    </insert>

    <!--回溯增加员工编号-->
    <update id="insertStaffMark">
        update shop_staff set staff_mark=#{staffMark} where staff_id=#{staffId}
    </update>

    <!--得到员工分类 返回分页查询 -->
    <select id="getStaffTypes" resultMap="shopStaffTypeResultMap">
        select * from shop_staff_type where 1=1
        <if test="staffTypeName!=null and staffTypeName!=''">
            and staff_type_name = #{staffTypeName}
        </if>
        <if test="shopMark>0">
            and shop_mark = #{shopMark}
        </if>
        <if test="pageNo >= 0 and pageSize > 0">
            limit #{pageNo},#{pageSize}
        </if>
    </select>


    <!--查询员工 分页查询-->
    <select id="getStaffs" resultMap="BaseResultMap">
        select * from shop_staff where shop_mark = #{shopMark}
        <if test="staffName!=null and staffName!=''">
            and staff_name = #{staffName}
        </if>
        <if test="staffType!=null and staffType!=''">
            and staff_type = #{staffType}
        </if>
        <if test="dateFrom!=null and dateFrom!=''">
            and staff_date &gt;= #{dateFrom}
        </if>
        <if test="dateTo!=null and dateTo!=''">
            and staff_date &lt;= #{dateTo}
        </if>
        <if test="pageNo >= 0 and pageSize > 0">
            limit #{pageNo},#{pageSize}
        </if>
    </select>

    <!--查询员工总数-->
    <select id="getStaffsCount" resultType="Integer">
        select count(*) from shop_staff where shop_mark = #{shopMark}
        <if test="staffName!=null and staffName!=''">
            and staff_name = #{staffName}
        </if>
        <if test="staffType!=null and staffType!=''">
            and staff_type = #{staffType}
        </if>
        <if test="dateFrom!=null and dateFrom!=''">
            and staff_date &gt;= #{dateFrom}
        </if>
        <if test="dateTo!=null and dateTo!=''">
            and staff_date &lt;= #{dateTo}
        </if>
        <!--   <choose test="">
               WHEN sdj>0
               THEN 0

               and staff_date &gt;= #{dateFrom}
           </choose>-->
    </select>

    <!--查询单个员工详情 -->
    <select id="getStaffById" resultMap="BaseResultMap">
        select * from shop_staff where staff_id=#{staffId}
    </select>
    <!--删除员工根据主键ID-->
    <delete id="deleteStaffById">
        delete from shop_staff where staff_id=#{staffId}
    </delete>
    <!--修改员工-->
    <update id="updateStaff" parameterType="com.space.entity.Staff">
        update shop_staff
        set staff_mark=#{staffMark},
        staff_name=#{staffName},
        staff_phone=#{staffPhone},
        staff_image=#{staffImage},
        staff_gender=#{staffGender},
        staff_date=#{staffDate},
        staff_type_name=#{staffTypeName},
        staff_desc=#{staffDesc},
        staff_sale=#{staffSale},
        shop_mark=#{shopMark}
        where staff_id=#{staffId}
    </update>
</mapper>