<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.mapper.ShopOrderMapper">

    <resultMap id="BaseResultMap" type="com.space.entity.Order">
        <id column="order_id" property="orderId" />
        <result column="order_no" property="orderMark" />
        <result column="order_name" property="orderName" />
        <result column="order_price" property="orderPrice" />
        <result column="order_waiter_id" property="orderWaiterId" />
        <result column="order_user" property="orderUser" />
        <result column="order_seat" property="orderSeat" />
        <result column="order_commission" property="orderCommission" />
        <result column="order_type" property="orderType" />
        <result column="order_date" property="orderDate" />
        <result column="shop_id" property="shopId" />
        <result column="join_user" property="joinUser" />
        <result column="order_status" property="orderStatus" />
        <result column="signer_id" property="signerId" />
        <result column="pay_method" property="payMethod" />
        <result column="modify_date" property="modifyDate" />
    </resultMap>
    <!--查询 分页、多条件查询-->
    <select id="getList" resultMap="BaseResultMap">
        select * from shop_order where 1=1
        <if test="shopId>0">
            AND  shop_id = #{shopId}
        </if>
        <if test="orderNo != null and orderNo!=''">
            and order_no = '%#{orderNo}%'
        </if>
        <if test="orderName!=null and orderName!=''">
            and order_name = '%#{orderName}%'
        </if>
        <if test="orderType >= 0">
            and order_type = #{orderType}
        </if>
        <if test="orderStatus >= 0">
            and order_status = #{orderStatus}
        </if>
        <if test="dateFrom !=null and dateFrom!=''">
            and order_date &gt;= #{dateFrom}
        </if>
        <if test="dateTo!=null and dateTo!=''">
            and order_date &lt;= #{dateTo}
        </if>
        <if test="pageNo >= 0 and pageSize > 0">
            limit #{pageNo},#{pageSize}
        </if>
    </select>
    <!--查询 详情 根据ID-->
    <select id="getInfoById" resultMap="BaseResultMap">
          select * from shop_order where order_id = #{orderId}
    </select>
    <!--查询 详情 根据订单号-->
    <select id="getInfoByNo" resultMap="BaseResultMap">
        select * from shop_order where order_no = #{orderNo}
    </select>
    <!--删除 根据Id-->
    <delete id="deleteById" >
        DELETE  FROM  shop_order
        WHERE  order_id = #{orderId}
    </delete>

    <!--删除 根据多个ID-->
    <delete id="deleteByIds" parameterType="java.util.List">
        <if test="orderIds!=null and orderIds.length>0">
            DELETE  FROM  shop_order
            where order_id in
            <foreach collection="orderIds" item="orderId" open="(" close=")" separator=",">
                #{orderId}
            </foreach>
        </if>
    </delete>

</mapper>