<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.space.mapper.WXHomeMapper">

    <resultMap id="BaseResultMap" type="com.space.wxEntity.WXShopInfo">
        <id column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="shop_industry" property="shopIndustry"/>
        <result column="shop_provice" property="shopProvice"/>
        <result column="shop_city" property="shopCity" />
        <result column="shop_district" property="shopDistrict"/>
        <result column="shop_address" property="shopAddress"/>
        <result column="shop_desc" property="shopDesc" />
        <result column="businessStartTime" property="businessStartTime"/>
        <result column="businessEndTime" property="businessEndTime"/>
        <result column="per_capita_consumption" property="perCapitaConsumption" />

        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
    </resultMap>

    <resultMap id="GoodInfo" type="com.space.entity.Commodity">
        <id column="product_id" property="productId" />
        <result column="shop_id" property="shopId" />
        <result column="product_name" property="productName" />
        <result column="product_image" property="productImage"/>
        <result column="product_description" property="productDescription" />
        <result column="product_category" property="productCategory" />
    </resultMap>

    <resultMap id="SeatInfo" type="com.space.entity.SeatInfo">
        <result column="shop_id" property="shopId" />
        <result column="seat_mark" property="seatMark" />
        <result column="seat_num" property="seatNum" />
        <result column="type_name" property="typeName"/>
        <result column="seat_status" property="seatStatus" />
        <result column="seat_count" property="seatCount" />
    </resultMap>
    
    <resultMap id="CouponInfo" type="com.space.entity.CouponInfo">
        <id column="id" property="id" />
        <result column="shopId" property="shopId" />
        <result column="securitiesNo" property="securitiesNo" />
        <result column="securitiesType" property="securitiesType" />
        <result column="worth" property="worth"/>
        <result column="useCondition" property="useCondition" />
        <result column="amontCondition" property="amontCondition" />
        <result column="activeDateType" property="activeDateType" />
        <result column="activeRange" property="activeRange"/>
        <result column="useDesc" property="useDesc"/>
    </resultMap>

    <resultMap id="StaffInfo" type="com.space.entity.Staff">
        <id column="staff_id" property="staffId"/>
        <result column="staff_name" property="staffName"/>
        <result column="staff_mark" property="staffMark"/>
        <result column="staff_type_name" property="staffTypeName"/>
        <result column="staff_image" property="staffImage"/>
        <result column="staff_phone" property="staffPhone"/>
        <result column="staff_sale" property="staffSale"/>
        <result column="staff_date" property="staffDate"/>
        <result column="shop_mark" property="shopMark"/>
        <result column="staff_gender" property="staffGender"/>
        <result column="staff_desc" property="staffDesc"/>
        <result column="staff_status" property="staffStatus"/>
    </resultMap>

    <!--查询商家基本信息-->
    <select id="getShop" resultMap="BaseResultMap">
        select shop_id,shop_name,shop_industry,shop_provice,shop_city,shop_district,shop_address,shop_desc
        per_capita_consumption,businessStartTime,businessEndTime
        from space_shop where 1=1
        <if test="provice!=null and provice!=''">
            and shop_provice = #{provice}
        </if>
        <if test="city!=null and city!=''">
            and shop_city = #{city}
        </if>
        <if test="district!=null and district!=''">
            and shop_district = #{district}
        </if>
        <if test="type!=null and type!=''">
            and shop_industry like '%${type}%'
        </if>
        <if test="barName!=null and barName!=''">
            and shop_name like '%${barName}%'
        </if>
        <if test="filter==2">
            order by per_capita_consumption
        </if>
    </select>

    <!--拿到商家的评分-->
    <select id="getShopScore" parameterType="Integer" resultType="Double">
        select avg(order_shop_score) from shop_order where shop_id=#{shopId} and order_shop_score_status = 1
    </select>

    <!--拿到商家的logo图片-->
    <select id="getShopLogo" parameterType="Integer" resultType="String">
        select info.url from shop_document doc left join document_info info on doc.documentId=info.documentId
        where doc.shopId=#{shopId} and doc.type='logo'
    </select>

    <!--查询商品信息-->
    <select id="getGoodInfo" resultMap="GoodInfo">
        select * from product_info where shop_id=#{shopId}
        <if test="productName!=null and productName!=''">
            product_name like '%${productName}%'
        </if>
    </select>

    <!--查询座位信息-->
    <select id="getSeatInfo" resultMap="SeatInfo">
        select seat.shop_id,seat.seat_mark,seat.seat_num,area.type_name,area.seat_count,seat.seat_status
        from shop_seat seat left join area_type_info area on seat.type_id=area.type_id
        where seat.shop_id=#{shopId}
    </select>

    <!--查询优惠券-->
    <select id="getCouponInfo" resultMap="CouponInfo">
        select id,shopId,securitiesNo,securitiesType,worth,useCondition,amontCondition,activeDateType,activeRange,useDesc
        from shop_market_securities where shopId=#{shopId}
    </select>

    <!--查询服务员-->
    <select id="getWaiterInfo" resultMap="StaffInfo">
        select * from shop_staff where shop_mark = #{shopMark} and staff_type_name like '%服务员%'
    </select>

    <!--添加订单-->
    <insert id="addOrder" parameterType="com.space.entity.Order" useGeneratedKeys="true" keyProperty="orderId">
      insert into shop_order(shop_id,order_no,order_name,order_price,order_original_amount,order_actual_amount,
      order_seat_amount,order_give_amount,order_securities_no,order_securities_amount,order_discount,order_waiter_id,
      order_user,order_seat,order_user_phone,order_type,order_date,order_status)
      values (#{shopId},#{orderNo},#{orderName},#{orderPrice},#{orderOriginalAmount},#{orderActualAmount},
      #{orderSeatAmount},#{orderGiveAmount},#{orderSecuritiesNo},#{orderSecuritiesAmount},#{orderDiscount},
      #{orderWaiterId},#{orderUser},#{orderSeat},#{orderUserPhone},#{orderType},#{orderDate},#{orderStatus})
  </insert>

    <!--添加订单的商品详情-->
    <insert id="addOrderProduct" parameterType="java.util.List">
        insert into shop_order_product_detail(order_id,product_id,product_name,product_num,product_price,product_amount)
        values
        <foreach collection ="list" item="product" index= "index" separator =",">
            (#{product.orderId}, #{product.productId},#{product.productName},#{product.productPrice}, #{product.productNum},#{product.productAmount})
        </foreach >
    </insert>
</mapper>

